{% extends "base.html" %}

{% block title %}App{% endblock %}

{% block body %}

<ul class="navul" id="navigationul">
  	<li><a href={{url_for("index")}}>Home</a></li>
  	<li><a href={{url_for("updates")}}>Updates</a></li>
  	<li><a href={{url_for("tutorial")}}>Tutorial</a></li>
  	{% if logon_manager.is_logged_in() %}
      {% if logon_manager.is_admin() %}
       <li><a href={{url_for("admin")}}>Admin</a></li>
      {% endif %}
    {% endif %}
  	{% if logon_manager.is_logged_in() == False %}
  	<li style="float:right;"><a href={{url_for("login")}}>Login</a></li>
  	{% else %}
  	<li style="float:right;"><a href={{url_for("profile")}}>Profile</a></li>
  	{% endif %}
</ul>

<!-- 			Program 			-->

<div id="app-container" style="display:flex; justify-content: center; vertical-align: middle; align-items: center; padding: 20px; height: 90%; width: 98%; position: absolute"> <!-- no, i dont know why these values have to be so specific -->
  <div id="control-div" style="float:left; border: 2px solid red; position: relative; height: 100%; width: 18%">
    
    <button onclick="canvas_clear()">Clear</button>
    <button onclick="canvas_draw_square()">Sqaure</button>
    <button onclick="incrementPos(300, 1)">Increment</button>
    <button onclick="request_graph()">Get Graph</button>
    <button onclick="draw_graph()">Draw Graph</button>

   <!--  <form action="/action_page.php">
      
      
      <br><br>
      <input type="submit" value="Apply Changes">
    </form> -->

    <form onsubmit="update_customisation(); return false;" id="customisation_form">
      <legend>Customisation</legend>
      <label for="vertexcolorpicker">Vertex Colour: </label>
      <input type="color" id="vertexcolorpicker" value="#ffffff">
      <br>
      <label for="vertex_shape">Vertex Shape:</label>
      <select name="vertex_shape" id="vertex_shape">
      <option value="circle">Circle</option>
      <option value="square">Square</option>
      <option value="star">Star</option>
      <option value="ellipse">Ellipse</option>
      </select>
      <br>
      <br>
      <label for="edgecolorpicker">Edge Colour: </label>
      <input type="color" id="edgecolorpicker" value="#000000">
      <br>
      <label for="edgewidth">Edge Width: </label>
      <input type="number" id="edgewidth" min="1" max="5">
      <br><br>
      <label for="bgcolorpicker">Background Colour: </label>
      <input type="color" id="bgcolorpicker" value="#ffffff">
      <br><br>
      <input type="submit" value="Apply Changes">
    </form>

  </div>
  <div id="canvas-div" style="float:right; border: 2px solid green; margin-left: 10px; position: relative; height: 100%; width: 78%"></div>
  <button id ="initButton" onclick="init()">Start App</button>
</div>

{% endblock %}

{% block script %}
<script src={{url_for("static", filename="js/gl-matrix.js")}}></script>
<script src={{url_for("static", filename="js/app.js")}}></script>
{% endblock %}

{% block bodyOnLoad %}onload="init()"{% endblock %} <!--onload="init()"-->