{% extends "base.html" %}

{% block title %}App{% endblock %}

{% block body %}

<ul class="navul" id="navigationul">
  	<li><a href={{url_for("index")}}>Home</a></li>
  	<li><a href={{url_for("updates")}}>Updates</a></li>
  	<li><a href={{url_for("tutorial")}}>Tutorial</a></li>
  	{% if logon_manager.is_user_logged_on() %}
      {% if logon_manager.is_admin() %}
       <li><a href={{url_for("admin")}}>Admin</a></li>
      {% endif %}
    {% endif %}
  	{% if logon_manager.is_user_logged_on() == False %}
  	<li style="float:right;"><a href={{url_for("login")}}>Login</a></li>
  	{% else %}
  	<li style="float:right;"><a href={{url_for("profile")}}>Profile</a></li>
  	{% endif %}
</ul>

<!-- 			Program 			-->

<div id="app-container" style="display:flex; justify-content: center; vertical-align: middle; align-items: center; padding: 20px; height: 90%; width: 98%; position: absolute"> <!-- no, i dont know why these values have to be so specific -->
  <div id="control-div" style="float:left; border: 2px solid red; position: relative; height: 100%; width: 18%">
    
    <button onclick="canvas_clear()">Clear</button>
    <button onclick="canvas_draw_square()">Sqaure</button>
    <button onclick="incrementPos(3)">Increment</button>

  </div>
  <div id="canvas-div" style="float:right; border: 2px solid green; margin-left: 10px; position: relative; height: 100%; width: 78%"></div>
  <button id ="initButton" onclick="init()">Start App</button>
</div>

{% endblock %}

{% block script %}
<script src={{url_for("static", filename="js/gl-matrix.js")}}></script>
<script src={{url_for("static", filename="js/app.js")}}></script>
{% endblock %}

{% block bodyOnLoad %}onload="init()"{% endblock %} <!--onload="init()"-->