<!DOCTYPE html>
<html>
<head>
	<title>webGL | Rotating Cube</title>
</head>
<body onload="InitDemo();">
	<canvas id="rotatecube" width=800 height=600>
		Your browser is unsupported (html5)
	</canvas>

	<br />
	<i>By Leo Tovell - aided by <a href="https://www.youtube.com/c/IndigoCode">Indigo Coding</a>.</i>
	<form action="index.html">
		<input type="submit" value="Back">
	</form>

	<script src={{url_for('static', filename='js/gl-matrix.js')}}></script>
	<script src={{url_for('static', filename='js/cube.js')}}></script>
</html>