{% extends "base.html" %}

{% block title %}{{logon_manager.get_user()}} | Profile{% endblock %}

{% block body %}

<ul class="navul">
  	<li><a href={{url_for("index")}}>Home</a></li>
  	<li><a href={{url_for("updates")}}>Updates</a></li>
  	<li><a href={{url_for("tutorial")}}>Tutorial</a></li>
  	{% if logon_manager.is_logged_in() %}
      {% if logon_manager.is_admin() %}
       <li><a href={{url_for("admin")}}>Admin</a></li>
      {% endif %}
    {% endif %}
  	{% if logon_manager.is_logged_in() == False %}
  	<li style="float:right;"><a href={{url_for("login")}}>Login</a></li>
  	{% else %}
  	<li style="float:right;"><a class=active href={{url_for("profile")}}>{{logon_manager.get_user()}}</a></li>
  	{% endif %}
</ul>

<div>
  <form action={{url_for("logout")}}>
    <input type="submit" value="Logout">
  </form>
</div>

{% endblock %}