{% extends "base.html" %}

{% block title %}Register{% endblock %}
{% block head %}<link rel="stylesheet" type="text/css" href={{url_for('static', filename='styles/register.css')}}>{% endblock %}

{% block body %}

<ul class="navul">
    <li><a href={{url_for("index")}}>Home</a></li>
    <li><a href={{url_for("updates")}}>Updates</a></li>
    <li><a href={{url_for("tutorial")}}>Tutorial</a></li>
    {% if logon_manager.is_user_logged_on() %}
      {% if logon_manager.is_admin() %}
       <li><a href={{url_for("admin")}}>Admin</a></li>
      {% endif %}
    {% endif %}
    {% if logon_manager.is_user_logged_on() == False %}
    <li style="float:right;"><a href={{url_for("login")}}>Login</a></li>
    {% else %}
    <li style="float:right;"><a href={{url_for("profile")}}>{{logon_manager.get_user()}}</a></li>
    {% endif %}
</ul>

{% for message in flashed_messages %}
    {% if message %}
      <ul class=flashes>
        <li>{{ message }}</li>
    </ul>
    {% endif %}
{% endfor %}

<p hidden>{{ flashed_messages.clear() }}</p>

<div class="main-container">
<div class="fixed">
<div class="form">
  <div class="title">Register</div>
  <div class="input-container ic1">
    <input autocomplete="off" id="username" class="input" type="text" placeholder="Username">
  </div>
  <div class="input-container ic2">
    <input autocomplete="off" id="password" class="input" type="password" placeholder="Password">
  </div>

  <div class="input-container ic2">
    <input autocomplete="off" id="password_confirm" class="input" type="password" placeholder="Confirm Password">
  </div>

  <div style="margin: 10px" id="roles">
  	<label><input type="radio" name=role value="user" checked> User</label>
  	<label><input type="radio" name=role value="admin"> Admin</label>
  </div>
  <button type="text" class="submit" onclick="register_user()">Register</button>

  <p><a style="text-align: center; color: white; font-family: sans-serif;" href={{url_for("login")}}>Already Registered? Login Here</a></p>
</div>

</div>
<div class="flex-item">
<!-- <img width="100%" src={{url_for('static', filename="assets/logo/grapheLW.png")}}> -->
</div>
</div>
{% endblock %}

{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script src={{url_for('static', filename='js/register.js')}}></script>
{% endblock %}